[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "modules/spdlog"]
	path = modules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "modules/implot"]
	path = modules/implot
	url = https://github.com/epezent/implot.git
[submodule "modules/clip"]
	path = modules/clip
	url = https://github.com/dacap/clip.git
[submodule "modules/serial"]
	path = modules/serial
	url = https://github.com/wjwwood/serial.git
[submodule "modules/allegro5-binaries"]
	path = modules/allegro5-binaries
	url = https://github.com/HerrNamenlos123/allegro5-binaries.git
