[submodule "modules/SFML"]
	path = modules/SFML
	url = https://github.com/SFML/SFML.git
[submodule "modules/glm"]
	path = modules/glm
	url = https://github.com/g-truc/glm.git
[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "modules/implot"]
	path = modules/implot
	url = https://github.com/epezent/implot.git
[submodule "modules/spdlog"]
	path = modules/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "modules/clip"]
	path = modules/clip
	url = https://github.com/dacap/clip.git
[submodule "modules/imgui-sfml"]
	path = modules/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml.git
[submodule "modules/nativefiledialog"]
	path = modules/nativefiledialog
	url = https://github.com/mlabbe/nativefiledialog.git
[submodule "modules/cpplocate"]
	path = modules/cpplocate
	url = https://github.com/cginternals/cpplocate.git
